*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 50px;
    color:aqua;
    text-align:center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#jogo{
    width: 90%;
    height: 450px;
    border: 2px solid black;
    margin: 0 auto;
    background-image: url(../img/cenario.png);
    background-position: 0px -250px;
    position: relative;
    overflow: hidden;
}
#jogo h2{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

#personagem{
    width: 153px;
    height: 102px;
    background-image: url(../img/p1.png);
    background-size: 100% 100%;
    position: absolute;
    bottom: 70px;
    left: 2%;
}

#vilao{
    width: 153px;
    height: 102px;
    background-image: url(../img/v1.png);
    background-size: 100% 100%;
    position: absolute;
    bottom: 70px;
    right: -153px;
    
}